*{
    background-color: chocolate;
    color: aliceblue;
    text-align: center;
}

p{
    font-size: xxx-large;
}

button{
    height: 50px;
    margin: 10px;
    width: 60px;
}

button:hover{
    background-color: rgb(187, 187, 200);
}